@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    padding: 1rem 2rem;
  }

  .large-screen-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
  }

  #menu {
    display: none;
  }

  .navigation-container {
    gap: 1rem;
  }

  .large-screen-navigation a {
    color: var(--primary-color);
    transition: color 0.2s ease;
  }

  .large-screen-navigation a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
  }

  .hero .hero-content {
    top: 0;
    padding: 2.5rem;
  }

  main article {
    padding: 2rem 3rem;
  }

  /* Footer */

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 2rem;
    gap: 0.5rem;
  }

  footer .social-icons {
    align-items: start;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-content {
    top: 5%;
    padding: 2.5rem 5rem;
    max-width: 70%;
  }

  footer {
    padding: 3rem 5rem;
  }

  footer .social-icons {
    gap: 2rem;
  }

  footer .social-icons a {
    padding: 1rem;
  }
}
