@media (min-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .full-width {
    grid-column: 1 / -1;
  }

  .detail-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .thank-you-section h1 {
    font-size: 2rem;
  }
}

/* Medium Screens (641px to 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }

  .discover-card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    padding: 1rem 2rem;
  }

  .large-screen-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
  }

  #menu {
    display: none;
  }

  .navigation-container {
    gap: 1rem;
  }

  .large-screen-navigation a {
    color: var(--primary-color);
    transition: color 0.2s ease;
  }

  .large-screen-navigation a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
  }

  .hero .hero-content {
    top: 0;
    padding: 2.5rem;
  }

  .weather-section,
  .business-cards {
    margin: 1rem 2rem;
  }

  .weather-cards {
    grid-template-columns: 2fr 2fr;
  }

  .weather-cards .events {
    grid-column: 1/3;
  }

  .business-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .business-card-body .card-image img {
    width: 50px;
  }

  main article {
    padding: 2rem 3rem;
  }

  /* Join Page */

  .main-content {
    grid-template-columns: 2fr 1fr;
  }

  /* Footer */

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 2rem;
    gap: 0.5rem;
  }

  footer .social-icons {
    align-items: start;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-content {
    top: 5%;
    padding: 2.5rem 5rem;
    max-width: 70%;
  }

  .weather-cards {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .weather-cards .events {
    grid-column: 1/1;
  }

  .business-card-body .card-image img {
    width: 100px;
  }

  .discover-grid {
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }

  .discover-card img:hover {
    transform: scale(1.08);
    filter: brightness(1.1) saturate(1.1);
  }

  footer {
    padding: 3rem 5rem;
  }

  footer .social-icons {
    gap: 2rem;
  }

  footer .social-icons a {
    padding: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .weather-section,
  .business-cards {
    margin: 2rem 5rem;
  }
}
